@font-face {
  font-family: "fontGame";
  src: url("../font/Pony.ttf");
}

.container__game {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("../assets/bgGame.png");
  background-size: 100%;
  font-family: fontGame;
}

.speech-bubble {
  position: relative;
  background: #45d994;
  border-radius: 0.4em;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 35px solid transparent;
  border-top-color: #45d994;
  border-bottom: 0;
  border-left: 0;
  margin-left: -17.5px;
  margin-bottom: -35px;
}

.theThink {
  border: 5px solid #45d994;
  width: 150px;
  height: 100px;
  background: #fff;
  border-radius: 10px;
}

.theThink > img {
  margin-top: 15px;
}

.playerGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnItem {
  width: 50px;
  height: 50px;
  border-radius: 6px;
}

.btnItem:focus {
  outline: none;
}

.btnPlay {
  width: 200px;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #f5ce62,
    #e43603,
    #fa7199,
    #e85a19
  );
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.btnPlay:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btnPlay:focus {
  outline: none;
}
